.page {
    margin: 10px 200px 10px 200px;
    font-weight: bold;
}

h1, h2 {
    color: white;
    background-color: black;
    font-family: Arial;
    text-align: left;
}

p {
    padding-bottom: 5px;
    padding-top: 5px;
    text-align: justify;
}

.button:link, .button:visited {
    display: block;
    text-decoration: none;
    font-weight: bold;
    color: blue;
}

.button:hover, .button:visited:hover {
    color: purple;
}

.button:active, .button:visited:active {
    color: red;
}

ul {
    list-style-type: square;
    text-decoration: underline;
}